{include file="common/head" /}
<body data-col="2-columns" class=" 2-columns  layout-dark">
<!-- ////////////////////////////////////////////////////////////////////////////-->
<style>
    .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options{background: #00bcd4;}
    form .form-group {float: left;margin-left: 2rem;}
    .form-control{width:96%;}


    form .form-group{margin-left: 0;}
</style>
<div class="wrapper">
    <div class="row justify-content-md-center">
        <div class="col-md-9" style="margin-top: 50px;">
            <div class="card">
                <div class="card-body">
                    <div class="px-3">
                        <form class="form">
                            <div class="card-content">


                                <div class="card-body">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="form-group col-12 mb-2">
                                                <label for="name">名称</label>
                                                <input type="text" id="name" class="form-control day" value="{$re.name}">
                                                <input type="hidden" id="zp_id" class="form-control day" value="{$re.zp_id}">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-12 mb-2">
                                                <label >缩略图 建议像素尺寸 宽X高 【500 X 500】</label>
                                                <div>
                                                    <input type="hidden" class="bklogo_url" id="bklogo_url" name="bklogo" value="{$re.img}"/>
                                                    <img id="bklogo_img" src="{$re.img}" style="width:100px;height:100px;" name="bklogo_img" src="" class="bklogo_img"/>
                                                    <input type="file" id="bklogo_file" name="bklogo_file"  class="file-loading bklogo_file" onchange="upimg(name,id,this)" accept="image/gif,image/jpeg,image/x-png" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-12 mb-2">
                                                <label for="gailv">概率</label>
                                                <input type="text" id="gailv" class="form-control day" value="{$re.gailv}">
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="form-actions center">
                                    <button type="button" class="btn btn-raised btn-primary add">
                                        <i class="fa fa-check-square-o"></i> 提交
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<!-- BEGIN VENDOR JS-->
<script src="http://img.lll1.vip/apex-assets/vendors/js/core/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="http://img.lll1.vip/apex-assets/vendors/js/core/popper.min.js" type="text/javascript"></script>
<script src="http://img.lll1.vip/apex-assets/vendors/js/core/bootstrap.min.js" type="text/javascript"></script>
<script src="http://img.lll1.vip/apex-assets/vendors/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
<script src="http://img.lll1.vip/apex-assets/vendors/js/prism.min.js" type="text/javascript"></script>
<script src="http://img.lll1.vip/apex-assets/vendors/js/jquery.matchHeight-min.js" type="text/javascript"></script>
<script src="http://img.lll1.vip/apex-assets/vendors/js/screenfull.min.js" type="text/javascript"></script>
<script src="http://img.lll1.vip/apex-assets/vendors/js/pace/pace.min.js" type="text/javascript"></script>
<!-- BEGIN VENDOR JS-->
<!-- BEGIN PAGE VENDOR JS-->
<!-- END PAGE VENDOR JS-->
<!-- BEGIN APEX JS-->
<script src="http://img.lll1.vip/apex-assets/js/app-sidebar.js" type="text/javascript"></script>
<script src="http://img.lll1.vip/apex-assets/js/notification-sidebar.js" type="text/javascript"></script>
<script src="http://img.lll1.vip/apex-assets/js/customizer.js" type="text/javascript"></script>
<!-- END APEX JS-->
<!-- BEGIN PAGE LEVEL JS-->
<script src="http://img.lll1.vip/apex-assets/vendors/js/sweetalert2.min.js" type="text/javascript"></script>
<script src="http://img.lll1.vip/apex-assets/vendors/js/toastr.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL JS-->



<script>
    $(".add").click(function(){

        var zp_id      = $('#zp_id').val();
        var name      = $('#name').val();
        var img      = $('#bklogo_url').val();
        var gailv      = $('#gailv').val();


        $.ajax({
            type: 'post',
            url: '/sun_admin/zhuanpan_edit_sub',
            dataType: 'json',
            data: {"zp_id":zp_id,"name":name,"img":img,"gailv":gailv},
            success: function(res){
                if(res.status == '200')
                {
                    swal(
                        res.msg,
                        '',
                        'success'
                    );
                    var index = parent.layer.getFrameIndex(window.name);
                    setTimeout(function(){parent.layer.close(index);},1800);
                }else{
                    swal(
                        res.msg,
                        '',
                        'error'
                    );
                }
            },
        });
    })

    //上传图片 logo
    function upimg(da,id,obj){
        console.log(obj);

        if( obj.value == "" ) {
            return;
        }
        var formdata = new FormData();
        formdata.append("img" , $(obj)[0].files[0]);//获取文件法二

        $.ajax({
            type : 'post',
            url : '/upload_alioos', //接口
            data : formdata,
            cache : false,
            processData : false, // 不处理发送的数据，因为data值是Formdata对象，不需要对数据做处理
            contentType : false, // 不设置Content-type请求头
            success : function(response){
                console.log(response.datas);
                if(response.status == 200){

                    var imgsrcname = '#bklogo_img';//图片的src
                    var imgsrcurl = '#bklogo_url';//隐藏的input的图片链接
                    var imgsrcfile = '#bklogo_file';//上传图片的input

                    $(imgsrcname).attr('src',response.datas.url);//赋值到img的src
                    $(imgsrcname).css('display','block');//显示img
                    $(imgsrcurl).val(response.datas.url);//赋值到input的value
                    // $(imgsrcfile).css('display','none');//隐藏文件上传框

                }else {
                    swal(
                        response.msg,
                        '',
                        'error'
                    );
                }
            },
            error : function(){ }
        });

    }



</script>
</body>
<!-- END : Body-->
</html>