<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width,initial-scale=1,user-scalable=no,minimum-scale=1,maximum-scale=1">
  <title>注册 - UEE</title>
  <link href=./static/register/css/app.b26529ff8f65a39f0847848d2e2e80de.css rel=stylesheet>
</head>

<body class=app>
  <div id=demo-popup></div>
  <div id=app></div>
  <script>// 下载地址
    var downloadAddress = '{$ios}'</script>
  <script src=./static/register/pack/login_cav.js> </script> <script src=./static/register/pack/three.min.js> </script>
    <script type=text/javascript src=./static/register/js/manifest.6b19a3a3dcc69b112152.js> </script> <script
    type=text/javascript src=./static/register/js/vendor.af6d0d933687797acde5.js> </script> <script type=text/javascript
    src=./static/register/js/app.c5edd8ac296c3b0badc1.js> </script> </body> </html>