{include file="common/all" /}
<style>
    /*分页*/
    .pagination {margin-left: 8.5rem;}
    .pagination li {display: inline-block;margin-right: -1px;padding: 13px;border: 1px solid #e2e2e2;min-width: 20px;text-align: center;width: 100px;height: 50px;}
    .pagination li.active {background: #009688;color: #fff;border: 1px solid #009688;}
    .pagination li a {display: block;text-align: center;}

    /*.swal2-show{width:90% !important;}*/
</style>
<div class="main-panel">
    <!-- BEGIN : Main Content-->
    <div class="main-content">
        <div class="content-wrapper"><!--Extended Table starts-->
            <section id="extended">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">

                            <div class="card-header">
                                <div>

                                </div>
                                <form action="" role="search" class="navbar-form navbar mt-1" style="float: left !important;margin-left: 100px;" name="form1" id="form1">
                                    <div class="position-relative has-icon-right" style="margin-left: 20px;">
                                        <select class="form-control" name="cont_type">
                                            <option value="0">请选择</option>
                                            <option value="1">序号</option>
                                            <option value="2">用户ID</option>
                                            <option value="3">支付宝号</option>
                                        </select>
                                    </div>
                                    <div class="position-relative has-icon-right">
                                        <input type="text" placeholder="Search" class="form-control" name="cont"/>
                                    </div>
                                    <div class="position-relative has-icon-right" style="margin-left: 20px;">
                                        <div class="form-group row" style="margin-bottom:0; ">
                                            <div class="col-md-9">
                                                <div class="position-relative has-icon-left">
                                                    <input type="date" id="begintime" class="form-control" name="begintime" style="width: 210px;">
                                                    <div class="form-control-position">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="position-relative has-icon-right" style="margin-left: 20px;">
                                        <button type="button" style="margin-top: 4px;" class="btn btn-raised btn-secondary btn-min-width mr-1 mb-1" onclick="document.getElementById('form1').submit();">Search</button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-content">
                                <div class="card-body table-responsive">
                                    <table class="table text-center">
                                        <thead>
                                        <tr>
                                            <th style="width: 5rem;"></th>
                                            <th style="">序号</th>
                                            <th style="">用户</th>
                                            <th style="">支付宝名</th>
                                            <th style="">支付宝号</th>
                                            <th style="">份额数量</th>
                                            <th style="">创建时间</th>
                                            <th style="">支付时间</th>
                                            <th style="">类型</th>
                                            <th style="">备注</th>
                                            <th style="">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {volist name="order" id="lists"}
                                        <tr>
                                            <td>
                                                <input type="checkbox" name="ck" value="{$lists.hs_id}" style="width:15px;height:15px;"/>
                                            </td>
                                            <td><span>{$lists.hs_id}</span></td>
                                            <td> {$lists.user_id} </td>
                                            <td>{$lists.ali_name}</td>
                                            <td>{$lists.ali_account}</td>
                                            <td>{$lists.tongzheng}</td>
                                            <td>{$lists.time}</td>
                                            <td>{$lists.day}</td>
                                            <td>
                                                {if $lists.type == '0'}
                                                    审核中
                                                {/if}
                                                {if $lists.type == '1'}
                                                    <span style="color: #1ab294">通过</span>
                                                {/if}
                                                {if $lists.type == '2'}
                                                    <span style="color:orangered">失败</span>
                                                {/if}
                                            </td>
                                            <td>{$lists.cont}</td>
                                            <td>
                                                {if $lists.type == '0'}
                                                    <button type="button" class="btn btn-raised btn-icon btn-secondary mr-1" onclick="selectdata('{$lists.hs_id}',1)">通过</button>
                                                    <button type="button" class="btn btn-raised btn-icon btn-secondary mr-1" onclick="selectdata_no('{$lists.hs_id}',2)">拒绝</button>
                                                {/if}
                                            </td>
                                        </tr>
                                        {/volist}
                                        </tbody>
                                    </table>
                                    <button type="button" class="btn btn-raised btn-icon btn-secondary mr-1" onclick="allcheck();">全选</button>
                                    <button type="button" class="btn btn-raised btn-icon btn-secondary mr-1" onclick="allnotcheck();">全不选</button>
                                    <button type="button" class="btn btn-raised btn-icon btn-secondary mr-1" onclick="backcheck();">反选</button>
                                    <button type="button" class="btn btn-raised btn-icon btn-success mr-1" onclick="orderExcel_out()"><i class="fa fa-check">导出</i></button>
                                    {$show}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--Extended Table Ends-->
        </div>
    </div>
    <!-- END : End Main Content-->
</div>
</div>

{include file="common/right" /}


<!-- BEGIN VENDOR JS-->
<script src="http://img.lll1.vip/apex-assets/vendors/js/core/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="http://img.lll1.vip/apex-assets/vendors/js/core/popper.min.js" type="text/javascript"></script>
<script src="http://img.lll1.vip/apex-assets/vendors/js/core/bootstrap.min.js" type="text/javascript"></script>
<script src="http://img.lll1.vip/apex-assets/vendors/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
<script src="http://img.lll1.vip/apex-assets/vendors/js/prism.min.js" type="text/javascript"></script>
<script src="http://img.lll1.vip/apex-assets/vendors/js/jquery.matchHeight-min.js" type="text/javascript"></script>
<script src="http://img.lll1.vip/apex-assets/vendors/js/screenfull.min.js" type="text/javascript"></script>
<script src="http://img.lll1.vip/apex-assets/vendors/js/pace/pace.min.js" type="text/javascript"></script>

<script src="__PUB__/quanxuan.js"></script>

<script>
    //查看用户信息
    function userinfo(id)
    {
        layer.ready(function ()
        {
            layer.open({
                type: 2,
                title: '查看用户信息',
                maxmin: true,
                area: ['80%', '80%'],
                content: '/sun_admin/get_user_info?id='+id,
                shadeClose:true,
                shade:0.5,
                end:function(){
                    location.reload();
                }
            });
        });
    }

    //拒绝
    function selectdata_no(id)
    {
        swal({
            title: "内容",
            text: "请输入内容：",
            input: "text",
            showCancelButton: true,
            closeOnConfirm: false,
            animation: "slide-from-top",
            inputPlaceholder: "Write something"
        }).then(function (inputValue) {
            if (inputValue === "")
            {
                swal(
                    '请输入原因',
                    '',
                    'error'
                );
                return false
            }else{
                $.ajax({
                    type: 'post',
                    url: '/sun_admin/tz_huishou_sub',
                    dataType: 'json',
                    data: {"id":id,"cont":inputValue},
                    success: function(res)
                    {
                        if(res.status == '200')
                        {
                            swal(
                                res.msg,
                                '',
                                'success'
                            );
                            setTimeout(function () {
                                window.location.reload();
                            }, 1800);
                        }else{
                            swal(
                                res.msg,
                                '',
                                'error'
                            );
                        }
                    },
                });
            }
        });
    }

    //通过
    function selectdata(id,type)
    {
        var title = '操作';
        var text  = '是否确定操作?';
        swal({
            title: title,
            text: text,
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#0CC27E',
            cancelButtonColor: '#FF586B',
            confirmButtonText: '是',
            cancelButtonText: "否"
        }).then(function (isConfirm) {
            // isConfirm 返回结果true和false
            if (isConfirm) {
                $.ajax({
                    type: 'post',
                    url: '/sun_admin/tz_huishou_sub',
                    dataType: 'json',
                    data: {"id":id,"type":type},
                    success: function(res){
                        if(res.status == '200')
                        {
                            swal(
                                res.msg,
                                '',
                                'success'
                            );
                            setTimeout(function () {
                                window.location.reload();
                            }, 1800);
                        }else{
                            swal(
                                res.msg,
                                '',
                                'error'
                            );
                        }
                    },
                });
            }
        }).catch(swal.noop);
    }

    //导出订单
    function orderExcel_out(){

        var f = false;
        //得到要删除的主键id
        var arr = []; //用于存要删除的选中的id值
        var ck = document.getElementsByName("ck"); //得到一组checkbox  相当于数组
        //循环这一组checkbox让每一个checkbox选中
        for (var i = 0; i < ck.length; i++) {
            if (ck[i].checked == true) { //代表选中
                arr.push(ck[i].value);
                f = true;
            }
        }
        if (f == true) {
            swal({
                title:'确定导出',
                text:'是否确定导出当前订单？',
                type:'warning',
                showCancelButton:true,
                confirmButtonColor:'#0CC27E',
                cancelButtonColor:'#FF586B',
                confirmButtonText:'是',
                cancelButtonText:"否"
            }).then(function(isConfirm){
                //isConfirm返回结果true和false
                if(isConfirm){
                    $.ajax({
                        type: 'post',
                        url: '/sun_admin/out_tz_hs_list',
                        dataType: 'json',
                        data: {"arr":arr,"caozuo":'yes',"tt":"1"},
                        success: function(res){
                            if(res.status == '200')
                            {
                                swal(
                                    res.msg,
                                    '',
                                    'success'
                                );
                                // setTimeout(function () {
                                //     window.location.reload();
                                // }, 1800);
                            }else{
                                swal(
                                    res.msg,
                                    '',
                                    'error'
                                );
                            }
                        },
                    });
                }
            }).catch(swal.noop);
        } else {
            swal(
                '请至少选择一个!',
                '',
                'error'
            );
        }
    }
</script>
</body>
<!-- END : Body-->
</html>